*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.classpath
.idea/*
/.idea/*
.idea/misc.xml
/.idea/misc.xml
!.idea/codeStyleSettings.xml
!.idea/inspectionProfiles/
*.iml
.settings/
.project
local.properties
.gradletasknamecache